All Gists <br />

<% for(var i=0; i<all_ids.length; i++){ %>

	<a href="/<%= all_ids[i] %>"><%= all_ids[i] %></a><br />

<% } %> <br />

Blog Grouped Gists <br />

<% for(var i=0; i<blog_ids.length; i++){ %>

	<a href="/Blog/<%= blog_ids[i] %>"><%= blog_ids[i] %></a><br />

<% } %> <br />